<nav class="navbar bg-dark mb-2">
  <div class="container-fluid">
    <a class="navbar-brand text-light">Posts</a>
    <form action="/search" class="d-flex" role="search">
      <input method="get" class="form-control me-2" type="search" placeholder="Enter title: " name="search">
      <button class="btn btn-outline-light" type="submit">Search</button>
    </form>
  </div>
</nav>
<% allBlogs.forEach((eachBlog)=>{ %>
  <div class="row">
    <div class="col-sm-12">
      <div class="card bg-warning myBoxlets mb-1">
        <div class="card-body ">
          <h5 class="card-title myTitles"> <%= eachBlog.title %> </h5>
          <h6 class="card-text"><small class="text-dark">Posted: <%= eachBlog.timestamp %></small></h6>
          <p class="card-text text-truncate myNotes"><%= eachBlog.notes %></p>
          <div class=" text-end">
            <a class="card-link" title="Read" href=<%='' + "read/" + eachBlog._id %>><i class="bi bi-book-half text-secondary fs-6 p-1 myIcons"></i></a>
            <a class="card-link" title="Edit" href=<%='' + "edit/" + eachBlog._id %>><i class="bi bi-pencil-square text-secondary fs-6 p-1 myIcons"></i></a>
            <a class="card-link" title="Delete" href=<%='' + "delete/" + eachBlog._id %>> <i class="bi bi-trash-fill text-secondary fs-6 p-1 myIcons"></i> </a>
          </div>
        </div>
      </div>
    </div>
  </div>
<% }) %>


