<%- include('../partials/head') %>
    <style>
        .divider:after,
        .divider:before {
            content: "";
            flex: 1;
            height: 1px;
            background: #eee;
        }

        .h-custom {
            height: calc(100% - 73px);
        }

        @media (max-width: 450px) {
            .h-custom {
                height: 100%;
            }
        }
    </style>

    <body>
        <section class="vh-100">
            <div class="container-fluid h-custom">
                <div class="row d-flex justify-content-center align-items-center h-100">
                    <div class="col-md-9 col-lg-6 col-xl-5">
                        <img src='/images/blackdreams.png' class="img-fluid" alt="Sample image">
                    </div>
                    <div class="col-md-8 col-lg-6 col-xl-4 offset-xl-1 bg-light myBoxlets">
                        <form action="/login" method="post">
                            <div class="d-flex flex-row align-items-center justify-content-center justify-content-lg-start">
                                <h3 class=" text-center mb-0 ms-5 mt-3 myNotes">Welcome to Dream Diaries</h3>
                            </div>

                            <div class="divider d-flex align-items-center my-4">
                                <p class="text-center text-secondary fw-bold mx-3 mb-3 myTitles">Sign in to your Account</p>
                            </div>

                            <div class="form-outline mb-4">
                                <input type="email" name="email" placeholder="Email address" class="form-control form-control-lg" />
                            </div>

                            <div class="form-outline mb-4">
                                <input type="password" name="password" placeholder="Password:" class="form-control form-control-lg" />
                            </div>

                            <div class="text-center">
                                <a href="#!" class="text-body">Forgot password?</a>
                            </div>

                            <div class="text-center mt-3 pt-2">
                                <button type="submit" class="btn btn-secondary btn-lg myButtons">SIGN IN</button>
                                <p class="small fw-bold mt-2 pt-1 mt-3 mb-5 myNotes">Don't have an account? <a href="/signup"class="link-danger">Register</a></p>
                            </div>

                        </form>
                    </div>
                </div>
            </div>
        </section>
        <div class="container">
            <footer class="d-flex flex-wrap justify-content-between align-items-center mt-1">
                <p class="col-md-4 mb-0 text-muted">&copy;2022 CODEMAN INC&trade; </p>
                <ul class="nav col-md-4 justify-content-end">
                    <li class="nav-item"><a href="#" class="nav-link"> </a></li>
                    <li class="nav-item"><a href="#" class="nav-link">Sign-Up</a></li>
                </ul>
            </footer>
        </div>
    </body>

</html>

 <!-- <%- include('../partials/head') %>
    <%- include('../partials/styles') %>

        <body>
            <section class="h-100 gradient-form" style="background-color: #eee;">
                <div class="container py-5 h-100">
                    <div class="row d-flex justify-content-center align-items-center h-100">
                        <div class="col-xl-10">
                            <div class="card rounded-3 text-black">
                                <div class="row g-0">
                                    <div class="col-lg-6">

                                        <div class="card-body p-md-3 mx-md-4">

                                            <div class="text-center">
                                                <h4 class="mt-1 mb-5 pb-1">Welcome to Dreamland</h4>
                                            </div>
                                            
                                            <%- include('../partials/toggle') %>
                                            <%- include('../partials/logPartial') %>

                                        </div>
                                    </div>

                                    <div class="col-lg-6 d-flex align-items-center gradient-custom-2">
                                        <div class="text-white px-3 py-4 p-md-5 mx-md-4">
                                            <h4 class="mb-4">We are more than just a company</h4>
                                            <p class="small mb-0">
                                                Lorem ipsum dolor sit amet, consectetur adipisicing
                                                elit, sed do eiusmod
                                                tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim
                                                veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.

                                                Lorem ipsum dolor sit amet consectetur adipisicing elit. Dolorum corporis aut earum accusantium a, 
                                                doloremque labore, suscipit vitae neque atque omnis quos officiis. 
                                                Consequuntur deleniti accusamus velit incidunt blanditiis voluptates!
                                            </p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </section>
        </body>

        </html> -->