<%- include('../partials/head') %>
<%- include('../partials/header') %>

<body>
    <div class="container">
        <h2> 
            <%= readBlog.title %>
            <br>
            <small class="text-muted fs-6"> By: <%= readBlog.author %> </small>
        </h2>
        <p class="lead myNotes"> <%= readBlog.notes %></p>
        <div>
            <a role="button" class="btn btn-warning btn-lg myButtons" href= <%="/edit/"+ readBlog._id %> >EDIT</a>
        </div>
    </div>
</body>

<%- include('../partials/footer') %>