<%- include('../partials/head') %>
<%- include('../partials/header') %>
<body>
    <div class="container">
        <div class="row">
            <div class="col-7">
                <%- include('../partials/notesList') %> 
            </div>

            <div class="col-5">
                <%- include('../partials/writeNotes') %>
            </div>
        </div>
    </div>
</body>

<%- include('../partials/footer') %>